.menu {
	padding: .2rem .2rem .2rem 1rem;
	@include breakpoint(small only) {
		justify-content: flex-end;
	}
	a {
		font-size: rem-calc(18);
		@include breakpoint(medium up) {
			font-size: rem-calc(23);
		}
	}
	.current_page_item, .current-menu-item {
		a {
			color: get-color(third);
		}
	}
	&.vertical {
		a {
			font-size: rem-calc(16);
			font-weight: 300;
			line-height: rem-calc(28);
			@include breakpoint(medium up) {
				font-size: rem-calc(20);
				line-height: rem-calc(37);
			}
			padding-top: 0;
			padding-bottom: 0;
		}
	}
}


