html {
  scroll-behavior: smooth;
}
body {overflow-x: hidden;}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .site-content {
    flex: 1;
  }
}

@include breakpoint(small only) {
  html, body {
    font-size: rem-calc(18);
  }
  .site {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

.section-padding {
  padding-top: 2rem;
  padding-bottom: 2rem; 
  @include breakpoint(medium up) {
    padding-top: 4rem;
    padding-bottom: 4rem; 
  }
  @include breakpoint(large up) {
    padding-top: 5rem;
    padding-bottom: 5rem; 
  }
}

.page-padding {
  padding-top: 2rem;
  padding-bottom: 2rem; 
}

.article-padding {
  padding-bottom: 4rem;
  @include breakpoint(medium up) {
    padding-bottom: 6rem;
  }
}

.grid-padding-y > .cell {
  padding-top: 0.4rem !important;
  padding-bottom: 0.4rem !important;
}

.grid-padding-x > .cell {
  padding-left: 0.4rem !important;
  padding-right: 0.4rem !important;
}

@include breakpoint(medium up) {
  .entry-thumbnail {
    margin-left: -10%;
    position: relative;
    z-index: -1;
  }
}
