.site-footer {
	margin-top: 2rem; 
	@include breakpoint(medium up) {
		margin-top: 3rem; 
	}
	.logo-frog {
		width: 3.4rem;
		height: 3.4rem;
		display: block;
		margin: 4rem 0 1rem -.9rem;
	}
	@include breakpoint(small only) {
		.last-line {
			position: relative;
			text-align: center;
			padding-top: 1rem;
		}
		.go-back {
			text-align: center;
			display: block;
		}
		.logo-frog {
			display: block;
			margin: 0;
			width: 2rem;
			height: 2rem;
			position: absolute;
			left: .5rem;
			bottom: .75rem;
		}
		.credits-logo {
			margin: 0;
			position: absolute;
			right: .5rem;
			bottom: .75rem;
		}
	}
}