.site-footer {
	margin-top: 2rem; 
	@include breakpoint(medium up) {
		margin-top: 3rem; 
	}
	.logo-bird {
		width: 2rem;
		height: 2rem;
		display: block;
		margin-bottom: 3rem;
	}
	.credits-logo {
		margin: 0 0 1rem 0;
		@include breakpoint(medium up) {
			margin-left: 80%;
		}
	}
	@include breakpoint(small only) {
		.last-line {
			position: relative;
			text-align: center;
			padding-top: 1rem;
		}
		.go-back {
			text-align: center;
			display: block;
		}
		.logo-bird {
			margin: 0;
			position: absolute;
			left: .5rem;
			bottom: .75rem;
		}
		.credits-logo {
			margin: 0;
			position: absolute;
			right: .5rem;
			bottom: .75rem;
		}
	}
}